{% extends 'base.html.twig' %}

{% block title %}S'inscrire{% endblock %}

{% block body %}

    <div class="register w40">
        <h1>S'inscrire</h1>

    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.username) }}
        {{ form_row(registrationForm.plainPassword) }}
        <div class="d-flex justify-content-between">
            {{ form_row(registrationForm.agreeTerms) }}
            <button type="submit" class="btn btn-md btn-secondary">S'inscrire</button>
        </div>
    {{ form_end(registrationForm) }}
    </div>
    
{% endblock %}
