{% extends "base.html.twig" %}

{% block body%}
    <div class="w80 m-auto">
        <h1 class="titre">{{title | upper}}</h1>
        {{form_start(form)}}
            {{form_row(form.numMouvement)}}
            {{form_row(form.dateMouvement)}}
            {{form_row(form.typeMouvement)}}
            {{form_row(form.tiers)}}
            <div class="line-button">
                <a href="/mouvement" class="btn bnt-medium btn-primary">Retour à la liste</a>
                <button type="reset" class="btn bnt-medium btn-primary">Annuler</button>
                <button type="submit" class="btn bnt-medium btn-primary">Valider</button>
            </div>
        {{form_end(form)}}
    </div>

{% endblock %}