{% extends 'base.html.twig' %}

{% block title %}TypeTiers{% endblock %}

{% block body %}
<div class="w80 m-auto">
    <h1 class="titre my-5">AFFICHAGE TYPETIERS</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ type_tier.id }}</td>
            </tr>
            <tr>
                <th>Prefixe</th>
                <td>{{ type_tier.prefixe }}</td>
            </tr>
            <tr>
                <th>NumeroInitial</th>
                <td>{{ type_tier.numeroInitial }}</td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ type_tier.libelle }}</td>
            </tr>
            <tr>
                <th>Format</th>
                <td>{{ type_tier.format }}</td>
            </tr>
        </tbody>
    </table>

    <div class="d-flex justify-content-between">
        <a class="btn btn-md btn-primary" href="{{ path('app_type_tiers_index') }}">Retour à la liste</a>

        <a class="btn btn-md btn-success" href="{{ path('app_type_tiers_edit', {'id': type_tier.id}) }}">Modifier</a>
        
        {{ include('type_tiers/_delete_form.html.twig') }}
    </div>
</div>
{% endblock %}
