{% extends 'base.html.twig' %}

{% block title %}Tiers{% endblock %}

{% block body %}
<div class="w80 m-auto">
    <h1 class="titre my-5">AFFICHAGE TIERS</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ tier.id }}</td>
            </tr>
            <tr>
                <th>NumTiers</th>
                <td>{{ tier.numTiers }}</td>
            </tr>
            <tr>
                <th>NomTiers</th>
                <td>{{ tier.nomTiers }}</td>
            </tr>
            <tr>
                <th>AdresseTiers</th>
                <td>{{ tier.adresseTiers }}</td>
            </tr>
        </tbody>
    </table>

    <div class="d-flex justify-content-between">
        <a class="btn btn-md btn-primary" href="{{ path('app_tiers_index') }}">Retour à la liste</a>

        <a class="btn btn-md btn-success" href="{{ path('app_tiers_edit', {'id': tier.id}) }}">Modifier</a>
        
        {{ include('tiers/_delete_form.html.twig') }}
    </div>
</div>
{% endblock %}
