{% extends 'base.html.twig' %}

{% block title %}Tiers{% endblock %}

{% block body %}
    <h1>Tiers</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ tier.id }}</td>
            </tr>
            <tr>
                <th>NumTiers</th>
                <td>{{ tier.numTiers }}</td>
            </tr>
            <tr>
                <th>NomTiers</th>
                <td>{{ tier.nomTiers }}</td>
            </tr>
            <tr>
                <th>AdresseTiers</th>
                <td>{{ tier.adresseTiers }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_tiers_index') }}">back to list</a>

    <a href="{{ path('app_tiers_edit', {'id': tier.id}) }}">edit</a>

    {{ include('tiers/_delete_form.html.twig') }}
{% endblock %}
