{% extends 'base.html.twig' %}

{% block title %} {{title}} {% endblock %}

{% block body %}
    <div class="w90 m-auto">
        <h1 class="titre text-center">{{ title | upper }}</h1>
        <div class="line-button">
            <button class="btn btn-md btn-success my-4" onclick="creer()">Créer</button>
            <button class="btn btn-md btn-primary my-4" onclick="afficher()">Afficher</button>
            <button class="btn btn-md btn-primary my-4" onclick="modifier()">Modifier</button>
            <button class="btn btn-md btn-danger my-4" onclick="supprimer()">Supprimer</button>
            <button class="btn btn-md btn-success my-4" onclick="importer()">Importer</button>
            <button class="btn btn-md btn-success my-4" onclick="exporter()">Exporter</button>
            <button class="btn btn-md btn-primary my-4" onclick="window.print()">Imprimer</button>
            <button class="btn btn-md btn-primary my-4" onclick="quitter()">Quitter</button>
        </div>
        <table class="table w-100">
            <thead>
                <tr class="table-success text-light">
                    <th class="w05 text-center"><input type="checkbox"></th>
                    <th class="w05 text-center">RANG</th>
                    <th class="w30 text-center">LIBELLE</th>
                    <th class="w20 text-center">URL</th>
                    <th class="w20 text-center">ROLE</th>
                    <th class="w20 text-center">ICONE</th>
                </tr>
            </thead>
            <tbody id="tbody_menu">
                {{ menu | raw }}
            </tbody>
            <tfoot>
                <tr class="table-success text-light">
                    <th colspan="6" class="text-center">Menu</th>
                </tr>
            </tfoot>
        </table>
    </div>
{% endblock %}

{% block script %}
<script>
    tbody_menu.addEventListener('contextmenu', event=>{
        activerMenuContextuel(event);
    })

    let url_menu_new = "{{path('app_menu_new',{'parent_id':'parent_id'})}}";
    let url_menu_show = "{{path('app_menu_show',{'id':'_id'})}}";;
    let url_menu_update = "{{path('app_menu_update',{'id':'_id'})}}";
    let url_menu_delete = "{{path('app_menu_delete',{'id':'_id'})}}";

    function creer(){
        const parent_id=getIdChecked('choix');
        const url=url_menu_new.replace('parent_id', parent_id);
        document.location.href=url;
    }

    function afficher() {
        const id=getIdChecked('choix');
        if(id == 0) {
            alert("Veuillez selectionner une ligne à afficher !");
            return;
        }
        const url=url_menu_show.replace('_id', id);
        document.location.href=url;
    }

    function modifier() {
        const id=getIdChecked('choix');
        if(id == 0) {
            alert("Veuillez selectionner une ligne à modifier !");
            return;
        }
        const url=url_menu_update.replace('_id', id);
        document.location.href=url;
    }

    function supprimer() {
        const id=getIdChecked('choix');
        if(id == 0) {
            alert("Veuillez selectionner une ligne à supprimer !");
            return;
        }
        const response = confirm("Êtes-vous sûr de supprimer cette ligne ?");
        if(response) {
            const url=url_menu_delete.replace('_id', id);
            document.location.href=url;
        }
    }
    
    function quitter() {
        document.location.href='/';
    }
    
</script>
{% endblock %}
